html, body { 
  background-color: #E6E6E6;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 400;
}
a{
	text-decoration: none;
	color: #17C5FF;
}
a.quo{
	color: #E8BE00;
	font-weight: 700;
}
a.quo:hover{
	opacity: 0.8;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -45px; 
  overflow: auto;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 45px; 
}
.site-footer {
	background-color: #000;
	color: #FFF;
}
#tbar{
	height: 35px;
	width: 100%;
	background-color: #1F1F1F;
	text-align: center;
}
#nav{
	height: 45px;
	width: 100%;
	background-color: #1F1F1F;
	text-align: center;
}
#navtitle{
	padding-top: 10px;
	margin-left: 10px;
	display: inline;
	float: left;
}
#navbox{
	display: block;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
}
a.nav{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.2em;
	padding-right: 5px;
	color: #FFF;
	
}
a.nav:hover{
	opacity: 0.8;
}
img.logo{
	height: 41px;
	width: 80px;
}
h1.navtitle{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	display: inline;
	font-size: 0.9em;
	color: #FFF;
}
h1.navtitle2{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	display: inline;
	font-size: 0.9em;
	color: #FFF;
}
h1.news{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.1em;
	color: #000;
	text-align: center;
}
h1.name{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 0.8em;
	color: #17C5FF;
	text-align: left;
	display: inline;
}
#header{
	width: 100%;
	height: 400px;
	background: url(images/runellie2.png) no-repeat center center; 
	background-color: #FFF;
}
#htitle{
	float: left;
	margin-left: 20px;
	margin-top: 125px;
	color: #000;
}
h1.title{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	display:inline;
	font-size: 2.9em;
	color: #000;
	opacity: 0;
}
h1.title2{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	display: inline;
	font-size: 2.9em;
	color: #000;
	opacity: 0;
}
h1.btitle{
	font: 400 75px/1.5 'Pacifico', Helvetica, sans-serif;
	font-weight: 500;
	font-size: 4.0em;
	color: #000;
	text-align: center;
}
#content{
	min-height: 400px;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
#footertext{
	text-align: center;
	margin-top: 10px;
}
p.centerq{
	text-align: center;
	margin-top: -55px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}
p.center{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
img.quo{
	height: 16px;
	width: 27px;
}
.center{
	text-align: center;
}
#minibox{
	margin-left: -5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #CCCCCC;
	border-right: 2px solid #CCCCCC;
	background-color: #E8E8E8;
	height: 150px;
	width: 133px;
	text-align: center;
	display: inline-block;
	padding: 3px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
}
#minibox2{
	margin-left: -5px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #E8E8E8;
	height: 150px;
	width: 133px;
	text-align: center;
	display: inline-block;
	padding: 3px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
}
#minibox3{
	margin-left: -5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #CCCCCC;
	background-color: #E8E8E8;
	height: 150px;
	width: 133px;
	text-align: center;
	display: inline-block;
	padding: 3px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
}
img.div{
	height: 100%;
}
img.banner{
	width: 100%;
	margin-top: 25px;
}
.artbox{
	height: 175px;
	width: 230px;
	margin-left: 5px;
	display: inline-block;
}
.artcontent{
	position:relative;
	width: 100%;
}
h2.art{
   position: absolute; 
   top: 105px; 
   left: 0; 
   width: 100%;
}
h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
img.art{
	height: 175px;
	width: 230px;
}
img.art:hover{
	opacity: 0.8;
}
#itunes{
	float: right;
	margin-right: 30px;
	margin-top: 65px;
	opacity: 0;
}
img.itunes{
	height: 239px;
	width: 195px;
}
#captcha{
	display: inline;
	margin-top: 3px;
	margin-left: -163px;
	margin-right: 10px;
}
form.contact
{
    margin:0 auto;
    width:459px;
}
.contact input, textarea{
	width:439px;
	height:20px;
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

input.contact:focus, textarea.contact:focus {
	border:1px solid #ffba00;
}
	
textarea.contact
{
	height:200px;
	background-color: #fff;
}

input[type=submit].contact{
	width:120px;
	height:40px;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #FFF;
	margin-top: 5px;
	cursor:pointer;
	background-color: #000;
	color: #FFF;
}
	
input[type=submit].contact:hover {
	color:#fff;
	background-color: #000;
}
input.scode{
	width: 275px;
	margin-top: 0px;
	display: inline;
	position: absolute;
}
input.scode:focus{
	border:1px solid #ffba00;
}
img.album{
	max-height: 450px;
	max-width: 450px;
}
#about{
	padding-bottom: 30px;
}
#news{
	background: #fff;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	text-align: left;
	padding: 10px;
	font-style: italic;
	font-size: 0.9em;
	margin-bottom: 250px;
}
#about{
	text-align: center;
}